<h1>Admin::Dashboard#show</h1>

<section class="orders-show">
  <h3>Total number of distinct products in stock: <%= @product_count %></h3>
  <h3>Total number of distinct categories: <%= @category_count %></h3>
</section>
